
body {
    font-family: Verdana, sans-serif;
    font-size: 16px;
    color: #232323;
    background-color: #dddddd;
}

.container {
    /* Determina que os elementos "filho" serão em grade (grid) */
    display: grid;

    /* Número de Colunas */
    /* grid-template-columns: auto 15% auto 250px; */
    grid-template-columns: auto auto 50%;

    /* Espaçamento (gap) entre cada "bloco" (linha e coluna) */
    grid-gap: 10px 10px;

    /* Número de Linhas */
    grid-template-rows: 50px 150px;

    background-color: #1f4774;
    padding: 10px;
}

.container div {
    border: #232323 solid 1px;
    background-color: #dddddd;
    text-align: center;
    font-size: 1.5em;
    padding: 5px;
}

.cabeca {
    grid-column: 1 / span 2;
    grid-row: 1;
}

.corpo {
    grid-column: 3;
    grid-row: 1 / span 2;
}

.rodape {
    grid-column: 1 / span 3;
    grid-row: 3;
}