p {
    color: #8a2be2;
}

body {
    background-color: #c9c9c9;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

.p2 {
    color: #00ffff;
    background-color: #8a2be2;
}